#section_wiki_index{
	.container{
		.row{
			.col-8{
				.card{
					.card-header{
						color: #000;
						i.fab{
							margin-right: 5px;
						}
					}
					.card-body{
						color: #000;
					}
					.card-footer{
						color: #000;
					}
				}
			}
		}
	}
}

#section_wiki_form{
	.container{
		.row{
			.col-8{
				background-color: #FDF5E6;
				padding: 25px 25px 5px 25px;
				border-radius: 10px;
			}
		}
	}
}